.card1 {
	width: 100%;
                  height: 90vw;
	border-radius: 1vw;
	background-color: #f5fffa;
	box-shadow: 0vw 2vw 3vw #ccc;




}




.title1 {
	border-radius: 1vw 1vw 0vw 0vw;
                  font-size: 6vw;
                 
	padding: 1vw;
	text-align: left;
	color: white;
	background-color: #afeeee;
}

.content1 {
	padding: 2vw;
	color: #666;
	text-align: center;
                  font-size: 5vw;

}

.content2 {
	padding: 0vw;
	color: #666;
	/* 要素の位置を固定する text-align: right; */

}

.content3 {
	padding: 1vw;
	color: #666;
	text-align: right; 

}




.bottom1 {
	border-radius: 0vw 0vw 1vw 1vw;
                  font-size: 4vw;
                 
	padding: 1vw;
	text-align: left;
	color: white;
	background-color: #afeeee;
}


.bdy {
	padding-top: 3vw;
	color: #666;
/* text-indent: 9vw;  */

font-size: 4vw;

}
.bdy2 {
	padding: 0vw;
	color: #666;

font-size: 14vw;

}

.bdy3 {
	padding: 0vw;
	color: #666;


 　font-size:24vw;
}











#fixed {
position: fixed; /* 要素の位置を固定する */

bottom: 0; 
margin: 0; /* 要素の余白を０にする */
padding: 5; /* 要素内側の余白を指定する */
height:30px; /* 高さを指定する */
width: 100%; /* 幅を指定する */
background: #326693; /* 背景色を指定する */
color:white; /* フォントの色を指定する */
text-align: center;

}


